.box{
    width: 15vw;
    background-color: white;
    border-radius: 15px;
    display: flex;
    min-height: 100px;
    margin-right: 20px;
    flex-direction: column;
    padding: 20px 0;

}
.box h5{
    font-size: 1rem;
    border-left: 5px solid green;
    border-radius: 5px;
    padding: 10px 0;
    padding-left: 10px;
}
.box p{
    font-size: 1rem;
    padding-left: 20px;
}